{% extends 'base.html' %}
{% load static %}
{% block title %}Computer Training | Services{% endblock title %}

{% block content %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-md-0 mb-2">
          <h2>Computer Training</h2>
          <p>Affordable computer training Packages, involving learning basic computer sakills, the fundamental computer programs, advanced useage of desired software, deep learning in computer programming like web and software development.</p>
          <hr>
          <p>We offer one on one interactions as well group study, both online and physical interactions with the tutors.</p>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
          <h2>Steps Taken</h2>
          <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Identifying the Skill-set needed</h5>
                <p class="mb-0">Depending of the purpose for gaining computer skills, different indeivuals have different preferences, Identifying the skill-set needed to be acuired helps us to match up with the best tutor.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Establishing the cost and equipment Needed and mode of training</h5>
                <p class="mb-0">We take you through the cost of training and agree on which mode of training to use, physical, online, with own equipment or using our devices.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Actual Training</h5>
                <p class="mb-0">We then Dive into the actual training and learning of the desired skills. With hands on projects and tasks to accomplish, the learner is guaranteed to gain the best skills possible.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Real World Applications</h5>
                <p class="mb-0">We also help the customer Identify real world situations and tasks to apply their skills, build a career and progress along the same path.</p>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="container mt-4">
      <div class="row">
        <div class="container py-sm-4">
          <div class="row">
            <div class="col-md-10 my-4 mx-auto">
              <h2 class="text-center">Pricing Table</h2>
              <hr>
              <div class="row no-gutters my-3">
                <div class="col-md-4 pr-2">
                  <div class="list-group text-center my-3">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Basic</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 50,000</div>
                    <div class="list-group-item">Basic Computer Skills</div>
                    <div class="list-group-item">Operating Basic Computer Programs</div>
                    <div class="list-group-item">Using the Computer to surf the internet</div>
                    <div class="list-group-item">Social Media</div>
                    <div class="list-group-item font-weight-bold">2 Weeks Support</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="list-group text-center">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Standard</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 150,000</div>
                    <div class="list-group-item">Basic Computer Skills</div>
                    <div class="list-group-item">Operating Basic Computer Programs</div>
                    <div class="list-group-item">Using the Computer to surf the internet</div>
                    <div class="list-group-item">Social Media</div>
                    <div class="list-group-item font-weight-bold">1 Month Support</div>
                    <div class="list-group-item font-weight-bold">Learning the Basics of Microsoft Office Package [Word, Excel, PowerPoint, Access]</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-2">
                  <div class="list-group text-center my-3">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Managed</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 300,000</div>
                    <div class="list-group-item">Basic Computer Skills</div>
                    <div class="list-group-item">Operating Basic Computer Programs</div>
                    <div class="list-group-item">Using the Computer to surf the internet</div>
                    <div class="list-group-item">Social Media</div>
                    <div class="list-group-item font-weight-bold">3 Month Support</div>
                    <div class="list-group-item font-weight-bold">Learning the Advanced Features of Microsoft Office Package [Word, Excel, PowerPoint, Access]</div>
                    <div class="list-group-item font-weight-bold">Learning the Basics Computer Progamming</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}