{% extends 'base.html' %}
{% load static %}
{% block title %}Web Development | Services{% endblock title %}

{% block content %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-md-0 mb-2">
          <h2>Web Development</h2>
          <p>Affordable Website development, involving planning, designing and actual development to suit the customer's needs.</p>
          <hr>
          <p>Following modern trends, as well as borrowing a leaf from the old ways, we bring your Idea into a tangible site, for an purpose in a short period of time.</p>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
          <h2>Steps Taken</h2>
          <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Planning</h5>
                <p class="mb-0">Exhausting all the possible ways of tailoring your desired site, through gathering information about the audience, the product or service and the desired functionality of the site. At this step, we establish the cost for the site.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Design</h5>
                <p class="mb-0">Creating and generating Impressions and different desings. This helps in determining the proper and appropriate look and feel of the site.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Actual Functionality and Development</h5>
                <p class="mb-0">This step is to do with connecting the designed features to actually do their functions and hence making the site alive, and redy for deployment.</p>
              </div>
            </li>
            <li class="media">
              <img class="mr-3" src="{% static 'images/35X35.gif' %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Deploying/Publishing/Hosting the Site</h5>
                <p class="mb-0">After the necessary tests, we are ready to make the site live on the web for your audience.</p>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="container mt-4">
      <div class="row">
        <div class="container py-sm-4">
          <div class="row">
            <div class="col-md-10 my-4 mx-auto">
              <h2 class="text-center">Pricing Table</h2>
              <hr>
              <div class="row no-gutters my-3">
                <div class="col-md-4 pr-2">
                  <div class="list-group text-center my-3">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Basic</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 350,000</div>
                    <div class="list-group-item">Planning</div>
                    <div class="list-group-item">Designing</div>
                    <div class="list-group-item">Implementation</div>
                    <div class="list-group-item">Domain Registration</div>
                    <div class="list-group-item">Publishing/Hosting for 1 Year</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="list-group text-center">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Standard</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 550,000</div>
                    <div class="list-group-item">Planning</div>
                    <div class="list-group-item">Designing</div>
                    <div class="list-group-item">Implementation</div>
                    <div class="list-group-item">Domain Registration</div>
                    <div class="list-group-item">Publishing/Hosting for 1 Year</div>
                    <div class="list-group-item font-weight-bold">1 Year Maintanance</div>
                    <div class="list-group-item font-weight-bold">Implementing New Updates for 3 Months</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-2">
                  <div class="list-group text-center my-3">
                    <div class="list-group-item text-white bg-dark">
                      <h4 class="text-center my-1">Managed</h4>
                    </div>
                    <div class="list-group-item text-uppercase font-weight-bold">From Ugx 1,100,000</div>
                    <div class="list-group-item">Planning</div>
                    <div class="list-group-item">Designing</div>
                    <div class="list-group-item">Implementation</div>
                    <div class="list-group-item">Domain Registration</div>
                    <div class="list-group-item">Publishing/Hosting for 1 Year</div>
                    <div class="list-group-item font-weight-bold">1 Year Maintanance</div>
                    <div class="list-group-item font-weight-bold">Implementing New Updates for 1 Year</div>
                    <div class="list-group-item font-weight-bold">24/7 Support</div>
                    <div class="list-group-item">
                      <a href="tel:+256701822382" class="btn btn-success btn-lg btn-block text-truncate">Call Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}